[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
lxml = "*"
requests = "*"
auto-py-to-exe = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.12"
